*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #E50914;
}
body{
    background-color: #000;
    color: #999;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color: #fff;
    font-size: 3rem;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    margin: 0.5rem 0;
    color: #fff;


}
img{
    width: 100%;
}
.showcase{
    width: 100%;
    height: 100vh;
    position: relative;
    background: url('nflix-bg.jpg') no-repeat center center/cover;
    border-bottom: 6px solid grey;
}
#showcase-top{
    position: relative;
    height: 87px;
    /* background-color: black; */
}
#showcase-top img{
    width: 134px;
    position: absolute;
    top: 50%;
    left:9%;
    transform: translate(-50%,-50%);
}
#showcase-top a{
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(-50%,-50%);
}
.btn{
    display: inline-block;
    background-color: var(--primary-color);
    padding: 8px 11px;
    border-radius: 3px;
    border: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
}
#showcase-content{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 125px ;
    width: 653px;
    

}
.btn-lg{
    /* padding: 1.2rem 2rem; */
    font-size: 1.4rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
}
input[type="email"]{
    padding: 1.2rem 7rem;
    color: white;
    margin-top: 10px;
    
}
h2{
    font-size: 1.4rem;
    font-weight: normal;
    margin: 20px auto;
}
.showcase::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    
}
.email{
    color: white;
    font-size: 1.1rem;
}
.form{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}


.card{
    display: grid;
   grid-template-columns: 1fr 1fr;
}
.card-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    /* width: 200px; */
    
}
.card-text p{
    font-size: 1.5rem;
    text-align: left;
    display: inline-block;
    width: 530px;
    
}
.card-text h1{
    display: inline-block;
    width: 537px;
    text-align: left;
}
.card{
    border-bottom: 6px solid grey;
}
.image img{
    position: relative;
    width: 660px;
    z-index: 2;
    padding-bottom: -235px;
}
.image video{
    position: relative;
    transform: translateY(-397px);
    /* transform: translateX(-35px); */
    padding-left: 88px;
    z-index: 1;
}
.card-1{
    height: 80vh;
}
@media only screen and (max-width: 600px) {
    #showcase-top img {
        width: 55px;
        position: absolute;
        top: 27%;
        left: 12%;
        transform: translate(-50%, -50%);
        /* margin-top: 10px; */
    }

    .btn {
        display: inline-block;
        background-color: var(--primary-color);
        padding: 4px 7px;
        border-radius: 3px;
        border: none;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);

    }

    body {
        font-size: 12px;
    }

    #showcase-top a {
        position: absolute;
        top: 29%;
        right: 0;
        transform: translate(-50%, -50%);
    }

    #showcase-content {
        position: relative;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 125px;
        width: 400px;


    }

    .btn-lg {
        padding: 0.8rem 0.8rem;
        font-size: 0.5rem;
        color: white;
        text-align: center;
        text-transform: uppercase;
        display: inline-block;
        width: 100px;
        margin: auto;

    }

    input[type="email"] {
        padding: 0.5rem 5rem;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 350px;

    }

    .email {
        width: 210px;
        font-size: 0.8rem;
        margin: auto;
    }

    h2 {
        font-size: 0.8rem;
        font-weight: normal;
        margin: 20px auto;
    }

    h1,
    h2,
    h3,
    h4 {
        color: #fff;

    }

    #showcase-content h1 {
        width: 200px;
        font-size: 1.2rem;
    }

    #showcase-content h2 {
        font-size: 0.8rem;
    }




    h1 {
        font-size: 0.9rem;
    }

    .card {
        width: 483.1px;
        display: grid;
        grid-template-columns: auto;
    }

    .card-text {
        width: 100px;
    }

    .image img {
        width: 100px;
        margin: auto;
    }

    .image video {
        width: 100px;
        position: relative;
        transform: translateY(-400px);
        transform: translateX(-105px);
        padding-left: 10px;
        z-index: 1;
    }

    h1 {
        font-size: 1rem;
        width: 150px;
        margin: auto;
    }

    .card p {
        font-size: 0.7rem;
        width: 200px;
        margin: auto;
    }


}

